
.btnColor {
    background-color: #23DBD0 !important;
}

.img {
    width: 25px;
    height: 25px;
}

.colorbtn{
    background-color: #FA1C1C !important;
}

.smallButtons {
    background-color: #FA1C1C !important;
}