<div>
    <app-header></app-header>
</div>
    <div id="contenedor" class="home">
        <br>
        <h2>WikiDex</h2>
        <br>
        <img src="../../../assets/img/logo.svg" alt="">
        <br>
        <br>
        <div class="row">
            <div class="col">
                <button routerLink="/principal" class="btn btnColor">Entrar sin registrar</button>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col">
                <button routerLink="/login" class="btn btnColor">Login</button>
            </div>
        </div>
    </div>
    <div>
        <app-footer></app-footer>
    </div>
